In [1]:
import pandas as pd

In [2]:
#Andrew J

#define function
def wage_gap():
#user input statement
    print("Region options: USA, Northeast, South, West")
    regionraw = input("What region would you like to know the mean incomes for?:  ")
#match the formatting for "state" with the csv file using capitalize method    
    region = regionraw.capitalize()
#exception
    if region == "Usa":
        region = "USA"
#user input statement
    yearinput = input("What year would you like to know the mean incomes for?:  ")
#concatenate inputs with base line of keys to create correct key name
    codem=region + "_male_mean_income_2017currency"
    codef=region + "_female_mean_income_2017currency"
#define variables to be printed
    malewage=df[codem][df['Year'] == yearinput]
    femalewage=df[codef][df['Year'] == yearinput]
#print
    print(malewage)
    print(femalewage)

In [3]:
#Afnan A
#Guess Max Wage in US
def game1():
    user=input("Guess the max mean income for females in the US: ")
    user=input("Guess the max mean income for males in the US: ")

    USfemalemax=df['USA_female_mean_income_current'].max()
    df.loc[df['USA_female_mean_income_current']== USfemalemax]
    print("The max female mean income in the US is: ",USfemalemax)

    USmalemax=df['USA_male_mean_income_2017currency'].max()
    print("The max male mean income in the US is: ",malemax)

In [4]:
#Afnan A
#Guess Max Wage in South
def game2():
    user=input("Guess the max mean income for females in the South: ")
    user=input("Guess the max mean income for males in the South: ")

    south_femalemax=df['South_female_mean_income_2017currency'].max()
    print("The max female mean income in the South is: ",south_femalemax)

    south_malemax=df['South_male_mean_income_2017currency'].max()
    print("The max male mean income in the South is: ",south_malemax)

In [5]:
#Afnan A
#Guess Max Wage for West
def game3():    
    user=input("Guess the max mean income for females in the West: ")
    user=input("Guess the max mean income for males in the West: ")

    west_femalemax=df['West_female_mean_income_2017currency'].max()
    print("The max female mean income in the South is: ",west_femalemax)

    west_malemax=df['West_male_mean_income_2017currency'].max()
    print("The max male mean income in the South is: ",west_malemax)

In [6]:
#Afnan A
def game4():
    user=input("Guess the max mean income for males in the Northeast: ")

    northeast_malemax=df['Northeast_male_mean_income_2017currency'].max()
    print("The max male mean income in the Northeast is:",northeast_malemax)

In [7]:
#Andrew J

#define function to run games based off user choice
def gamerunner(game):

    if game == "Game 1":
        game1()
    if game == "Game 2":
        game2()
    if game == "Game 3":
        game3()
    if game == "Game 4":
        game4()

In [14]:
#Andrew J
#create lists
opt=["Wage-gap", "Game"]
dblist=["All","Asian","Black","Hispanic","White"]
datalist=["all-races.csv","dbasian.csv","dbblack.csv","dbhispanic.csv","dbwhite.csv"]
gamelist=["Game 1","Game 2","Game 3","Game 4"]
#set up user input statement
print("Choose a database from:\n", dblist)
userdb=input("Choose a database: ")
userdbc=userdb.capitalize()
#choose database based off user input
for database in dblist:
    if userdbc == database:
        value=dblist.index(database)
#read correct csv
dbchoice = datalist[value]
df = pd.read_csv(dbchoice)

Choose a database from:
 ['All', 'Asian', 'Black', 'Hispanic', 'White']
Choose a database: black

In [15]:
#Edelawit S

df.sort_values(by="Year", ascending = False, inplace = True)
df.head(52)

,Year,USA_male_count_thousands,USA_male_mean_income_current,USA_male_mean_income_2017currency,USA_female_count_thousands,USA_female_mean_income_current,USA_female_mean_income_2017currency,Northeast_male_count_thousands,Northeast_male_mean_income_current,Northeast_male_mean_income_2017currency,...,South_male_mean_income_2017currency,South_female_count_thousands,South_female_mean_income_current,South_female_mean_income_2017currency,West_male_count_thousands,West_male_mean_income_current,West_male_mean_income_2017currency,West_female_count_thousands,West_female_mean_income_current,West_female_mean_income_2017currency
0,2017,"13,640","40,880","40,880","16,246","32,802","32,802","2,431","42,391","42,391",...,"39,661","9,104","32,527","32,527","1,475","49,059","49,059","1,468","37,405","37,405"
1,2016,"13,295","41,376","42,266","15,923","31,186","31,857","2,329","43,255","44,185",...,"41,649","8,822","31,158","31,828","1,433","46,677","47,681","1,511","34,512","35,254"
2,2015,"12,955","38,979","40,331","15,710","30,624","31,686","2,343","38,437","39,770",...,"39,416","8,768","30,378","31,432","1,434","47,581","49,231","1,463","36,153","37,407"
3,2014,"12,539","38,031","39,418","15,383","28,427","29,464","2,251","37,511","38,879",...,"39,749","8,486","28,302","29,334","1,363","42,941","44,507","1,430","29,268","30,335"
4,2013 (39),"12,343","36,938","38,933","15,289","28,400","29,934","2,153","38,718","40,809",...,"37,996","8,696","27,353","28,830","1,246","42,676","44,981","1,444","30,752","32,413"
5,2013 (38),"12,311","35,856","37,793","15,038","27,141","28,607","2,240","34,834","36,716",...,"38,442","8,334","27,076","28,538","1,359","36,622","38,600","1,367","27,567","29,056"
6,2012,"11,961","34,232","36,616","14,722","27,531","29,448","2,037","36,577","39,124",...,"35,133","8,172","27,166","29,058","1,310","37,050","39,630","1,384","31,357","33,540"
7,2011,"11,562","34,086","37,232","14,411","27,106","29,607","1,991","35,235","38,487",...,"37,222","7,998","27,605","30,153","1,218","40,523","44,263","1,299","27,854","30,424"
8,2010,"11,433","32,453","36,565","14,212","26,315","29,650","2,071","32,451","36,563",...,"37,164","8,003","25,960","29,250","1,198","34,249","38,589","1,264","29,167","32,863"
9,2009,"11,064","33,077","37,883","13,793","26,059","29,845","1,902","34,150","39,112",...,"36,417","7,685","25,630","29,354","1,161","41,775","47,845","1,262","26,618","30,486"
10,2008,"11,183","32,986","37,648","13,616","26,233","29,940","1,940","35,948","41,028",...,"36,955","7,532","25,301","28,877","1,251","36,881","42,093","1,234","29,732","33,934"
11,2007,"10,981","32,481","38,495","13,427","26,950","31,940","1,893","32,407","38,408",...,"37,850","7,292","26,109","30,943","1,239","35,980","42,642","1,265","29,317","34,745"
12,2006,"10,738","32,232","39,283","13,172","25,839","31,492","1,826","34,443","41,978",...,"37,879","7,240","24,884","30,328","1,114","37,627","45,859","1,203","29,181","35,565"
13,2005,"10,651","30,791","38,744","13,237","23,877","30,044","1,905","34,988","44,025",...,"36,591","7,223","22,954","28,883","1,140","37,223","46,837","1,232","27,611","34,742"
14,2004 (35),"10,335","29,822","38,795","12,994","22,552","29,338","1,855","32,061","41,708",...,"36,776","7,010","22,164","28,833","1,067","36,559","47,560","1,194","24,708","32,143"
15,2003,"10,291","28,880","38,585","12,924","22,400","29,927","1,819","30,778","41,121",...,"37,518","6,953","21,536","28,773","1,032","32,058","42,831","1,193","27,799","37,141"
16,2002,"10,096","28,819","39,378","12,665","22,055","30,136","1,851","29,753","40,654",...,"37,839","6,870","21,589","29,499","1,050","33,276","45,468","1,126","25,570","34,939"
17,2001,"9,944","27,685","38,425","12,414","21,215","29,445","1,789","28,769","39,929",...,"37,299","6,742","20,892","28,997",982,"32,866","45,616",960,"24,290","33,713"
18,2000 (30),"9,905","27,494","39,246","12,461","20,415","29,141","1,759","28,095","40,104",...,"38,440","6,843","19,627","28,016",932,"30,559","43,621","1,008","22,945","32,753"
19,1999 (29),"10,317","26,301","38,817","12,383","19,718","29,101","1,835","27,147","40,066",...,"36,586","6,761","18,874","27,856",876,"32,558","48,052",930,"24,841","36,662"
20,1998,"9,776","23,971","36,132","12,272","17,931","27,028","1,750","23,128","34,861",...,"35,265","6,711","17,002","25,627",885,"28,317","42,682",970,"21,912","33,028"
21,1997,"9,671","22,781","34,803","11,961","17,310","26,445","1,671","21,520","32,877",...,"33,914","6,554","16,329","24,946",888,"28,034","42,828",962,"21,250","32,464"
22,1996,"9,410","22,509","35,131","11,817","16,531","25,801","1,705","23,525","36,716",...,"32,772","6,550","15,325","23,918",984,"26,130","40,782",895,"19,124","29,848"
23,1995 (25),"9,339","21,322","34,164","11,607","14,907","23,886","1,590","21,366","34,235",...,"32,253","6,481","13,743","22,021",907,"27,531","44,113",928,"18,351","29,404"
24,1994 (24),"9,199","20,213","33,168","11,450","14,948","24,528","1,536","21,835","35,829",...,"31,445","6,322","14,064","23,078",812,"25,509","41,858",932,"17,661","28,980"
25,1993 (23),"8,947","19,090","31,979","11,267","13,764","23,057","1,495","21,456","35,943",...,"29,440","6,109","12,718","21,305",761,"21,508","36,030",819,"18,326","30,699"
26,1992 (22),"9,104","17,480","30,020","11,076","12,769","21,930","1,489","19,525","33,532",...,"28,025","6,064","11,917","20,466",788,"20,477","35,167",856,"15,823","27,175"
27,1991,"8,943","17,061","30,029","10,727","12,650","22,265","1,519","20,202","35,558",...,"27,248","5,839","11,702","20,597",813,"21,510","37,860",850,"15,395","27,097"
28,1990,"8,820","16,985","30,983","10,687","12,049","21,979","1,524","18,140","33,090",...,"28,346","5,877","10,930","19,938",720,"22,879","41,735",802,"15,299","27,908"
29,1989,"8,806","16,147","30,907","10,577","11,690","22,376","1,609","18,424","35,265",...,"27,460","5,818","10,484","20,067",793,"21,750","41,632",842,"15,009","28,729"
30,1988,"8,610","15,826","31,617","10,380","10,701","21,378","1,436","18,938","37,834",...,"27,589","5,650","9,645","19,269",819,"20,499","40,953",853,"14,576","29,120"
31,1987 (21),"8,488","14,573","30,165","10,164","9,956","20,608","1,388","16,297","33,734",...,"28,402","5,619","9,195","19,033",807,"17,079","35,353",820,"11,310","23,411"
32,1986,"8,285","13,861","29,679","9,819","9,538","20,422","1,342","15,599","33,400",...,"26,360","5,422","8,335","17,847",805,"16,905","36,196",852,"11,897","25,473"
33,1985 (20),"8,127","13,376","29,141","9,611","9,001","19,610","1,434","13,955","30,403",...,"26,749","5,154","8,001","17,431",810,"15,952","34,754",766,"10,962","23,882"
34,1984 (19),"7,851","12,119","27,309","9,460","8,622","19,429","1,405","13,497","30,415",...,"25,439","5,001","7,986","17,996",710,"14,177","31,947",740,"10,043","22,631"
35,1983,"7,580","11,501","26,995","9,109","7,872","18,477","1,405","12,273","28,807",...,"24,756","4,819","7,288","17,106",759,"14,097","33,089",805,"9,663","22,681"
36,1982,"7,290","11,050","27,044","8,921","7,349","17,986","1,264","11,984","29,330",...,"24,125","4,752","6,836","16,731",790,"12,986","31,783",799,"9,086","22,238"
37,1981,"7,459","10,531","27,331","8,829","6,728","17,461","1,335","11,051","28,680",...,"24,660","4,681","5,966","15,483",735,"12,598","32,695",828,"8,682","22,532"
38,1980,"7,387","9,843","27,957","8,596","6,327","17,970","1,303","9,937","28,224",...,"25,193","4,468","5,759","16,357",737,"12,014","34,123",783,"7,971","22,640"
39,1979 (18),"7,288","9,265","29,262","8,533","5,645","17,829","1,310","9,964","31,470",...,"26,167","4,374","4,968","15,691",692,"10,173","32,130",809,"6,590","20,814"
40,1978,"6,971","8,541","29,534","7,959","5,212","18,022","1,212","9,496","32,836",...,"25,581","4,144","4,403","15,225",642,"8,882","30,713",682,"5,943","20,550"
41,1977,"6,777","7,743","28,610","7,562","4,803","17,747","1,111","8,600","31,777",...,"24,875","4,034","4,039","14,924",682,"9,022","33,336",677,"5,728","21,165"
42,1976 (17),"6,651","7,180","28,204","7,188","4,545","17,854","1,060","7,588","29,807",...,"24,779","3,858","3,829","15,041",642,"8,411","33,040",655,"5,224","20,521"
43,1975 (16),"6,485","6,633","27,555","6,969","4,134","17,173","1,098","7,863","32,664",...,"23,504","3,722","3,466","14,398",632,"7,330","30,450",564,"4,744","19,708"
44,1974 (16)(15),"6,409","6,318","28,403","6,779","3,759","16,899","1,095","7,602","34,176",...,"23,220","3,563","3,118","14,017",620,"7,339","32,994",567,"4,410","19,826"
45,1973,"6,394","5,864","28,999","6,513","3,356","16,596","1,064","6,803","33,642",...,"23,875","3,506","2,724","13,471",588,"7,227","35,739",546,"4,231","20,923"
46,1972 (14),"6,043","5,447","28,623","6,274","3,254","17,099",(NA),"6,110","32,106",...,"24,130",(NA),"2,659","13,972",(NA),"6,882","36,163",(NA),"4,071","21,392"
47,1971 (13),"6,024","4,888","26,455","6,151","2,896","15,674",(NA),"5,904","31,954",...,"21,276",(NA),"2,211","11,967",(NA),"6,358","34,411",(NA),"3,595","19,457"
48,1970,"5,844","4,683","26,456","5,844","2,743","15,496",(NA),"5,689","32,140",...,"21,072",(NA),"2,201","12,434",(NA),"6,110","34,518",(NA),"3,337","18,852"
49,1969,"5,870","4,361","25,851","5,728","2,448","14,511",(NA),"5,432","32,200",...,"20,391",(NA),"1,952","11,571",(NA),"5,433","32,205",(NA),"3,175","18,821"
50,1968,"5,715","4,018","24,880","5,629","2,208","13,672",(NA),"4,860","30,094",...,"18,911",(NA),"1,740","10,774",(NA),"5,431","33,629",(NA),"3,062","18,960"
51,1967 (12),"5,572","3,696","23,784","5,397","2,072","13,333",(NA),"4,479","28,822",...,"18,076",(NA),"1,589","10,225",(NA),"4,991","32,117",(NA),"2,810","18,082"

In [16]:
#Andrew J
#use options list to give users selection of options to choose from based off their input
print(opt)
optchoice = input("Choose an option.")
#capitalize statement to match input with list entries
optchoice1 = optchoice.capitalize()
#use if statements to execute correct function
if optchoice1 == opt[0]:
    wage_gap()
elif optchoice1 == opt[1]:
    print(gamelist)
    gamechoice = input("Choose an option:")
    game = gamechoice.capitalize()
    gamerunner(game)

['Wage-gap', 'Game']
Choose an option.wage-gap
Region options: USA, Northeast, South, West
What region would you like to know the mean incomes for?:  south
What year would you like to know the mean incomes for?:  1990
28    28,346
Name: South_male_mean_income_2017currency, dtype: object
28    19,938
Name: South_female_mean_income_2017currency, dtype: object